/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body{
    background-image: url('./assets/06b3FMA.jpg');
    background-color: black;
    background-repeat: repeat-y;
    background-position: fixed;
    background-size: contain;
   
    
    

   
}
