<nav class="navbar navbar-expand-lg navbar-dark">
    <img  class="img1" src="../../assets/kisspng-github-continuous-integration-microsoft-azure-sour-innovation-research-lab-irl-5d0ee306c7f871.6978428915612567108191.jpg" alt="" srcset="">
      <a class="navbar-brand "><b>ATARAH GITHUB SEARCH</b></a>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" routerLink="profile"routerLinkActive='active'>Github Profile<span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link"routerLink="repositories"routerLinkActive='active'>Github Repositories</a>
        </div>
      </div>
    </nav>
